.Rproj.user
.Rhistory
.RData
.Ruserdata

**/figures/
**/figures_updated/

**/data/
**/archive/

**/newfigures/archive/

*.gz

*.log
*.aux
*.blg
*.bbl
*.synctex.gz
*.out 
*.lua
*.yml
*.fls
*.fdb_latexmk
